body {
    line-height: 1;
    font: 13px/1.5 Georgia, serif;
}
ol {
    list-style-type: decimal;
    color: #43444A;
}
ol {
    display: block;
}
ul li {
    display: list-item;
    list-style-type: disc;
    color: #43444A;
}
fieldset {
    border: 1px solid silver;
    margin: 0 0 1.2em;
    width: 604px;
    padding: 0.6em 2%;
    color: #43444A;
}
.form-item input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0;
}
.form-item textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0;
    width: 100%;
}
.form-item select {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0;
}
.form-item input.form-text {
    padding: 3px 1%;
    width: 98%;
}
form input.form-submit {
    border: 0 none;
    color: #FFFFFF;
    font-family: 'Yanone Kaffeesatz', 'Arial Narrow', Helvetica, Arial, 'sans serif';
    font-size: 100%;
    margin: 2px;
    position: relative;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    width: auto;
    background: #43444A;
    padding: 6px;
    font-weight: bold;
}
form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
form {
    margin-bottom: 1.2em;
}
table {
    border-collapse: collapse;
}
td,
tr.odd td,
tbody th {
    background-color: #43444A;
    border: 1px solid silver;
    color: #fff;
}
tr.even,
tr.odd {
    background-color: #43444A;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}
.form-item .description {
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.4em 0 0;
}
label {
    display: block;
    font-weight: bold;
    color: #43444A;
}
hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #43444a;
}
h1 {
    font-size: 4em;
    letter-spacing: -1px;
}
h1.title {
    font-size: 4em;
    letter-spacing: -1px;
}
h2 {
    font-size: 2em;
}
h2.block-title {
    color: #43444A;
}
h2.title a:link,
h2.title a:visited {
    text-decoration: underline;
    color: #41444A;
}
h2.title a:hover,
h2.title a:active {
    text-decoration: none;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 90%;
}
h6 {
    font-size: 80%;
}
ol {
    list-style: decimal;
}
ul {
    list-style: square;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
    margin-bottom: 20px;
}
b,
strong {
    font-weight: bolder;
}
i,
cite,
em,
var,
dfn {
    font-style: italic;
}
blockquote {
    background-color: #43444A;
}
blockquote {
    color: #FFFFFF;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 10px;
}
a,
a:link,
a:visited {
    color: silver;
    text-decoration: none;
}
a,
a:hover,
a:active {
    color: silver;
    text-decoration: underline;
}
div.status,
table tr.ok {
    background-color: #43444A;
}
div.status,
.ok {
    color: #fff;
}
div.status {
    border-color: #fff;
}
div.status a:link,
div.status a:visited {
    color: #c1c1c1;
}
div.status a:hover,
div.status a:active {
    color: #c1c1c1;
}
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
div.messages a:link,
div.messages a:visited {
    color: #c1c1c1;
}
div.messages a:hover,
div.messages a:active {
    color: #c1c1c1;
}
div.error,
table tr.error {
    background-color: #43444A;
}
div.error,
.error {
    color: #fff;
}
div.warning,
table tr.warning {
    background-color: #43444A;
}
div.warning,
.warning {
    color: #fff;
}
div.warning a:link,
div.warning a:visited {
    color: #c1c1c1;
}
div.warning a:hover,
div.warning a:active {
    color: #c1c1c1;
}
div.error {
    border-color: #fff;
}
div.warning {
    border-color: #fff;
}
p code {
    background-color: #43444A;
}
p code {
    border: medium none;
    color: #fff;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}
.header {
    background-image: url("../images/Header_Background_new.jpg");
    height: 80px;
}
.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.region-login {
    padding-right: 20px;
    height: 100px;
    margin-top: 20px;
    text-align: right;
    color: #43444a;
}
.region-login a {
    color: #43444a;
    text-decoration: none;
}
.main_nav {
    background-image: url("../images/navigation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 91px;
    color: #000000;
    margin-top: 20px;
}
.article_outer hr {
    width: 250px;
    color: #d6d6d6;
    float: left;
    margin-left: 10px;
}
.comment-wrapper h2 {
    margin: 10px 0px;
    padding: 0px;
}
#comment_submitted a {
    color: #116699;
}
.comment-arrow {
    padding: 20px;
}
.comment-arrow .comment ul.inline,
ul.links.inline li a {
    margin-right: 4px;
    font-size: 13px;
    font-weight: bold;
}
.comment-arrow h3 a {
    color: #444A56;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 0px;
    font-weight: normal;
}
.submitted_date {
    text-align: right;
}
.submitted a {
    font-size: 14px;
    color: #444A56;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}
.comment-form input[type=text] {
    background-color: #FFFFFF;
    color: silver;
    border: 1px solid silver;
    width: 320px;
    height: 35px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
    font-family: Georgia, serif;
}
.comment-form textarea {
    background-color: #FFFFFF;
    border: 1px solid silver;
    padding: 10px;
    color: silver;
    width: 590px;
    height: 100px;
    margin-bottom: 10px;
}
.resizable-textarea .grippie {
    display: none;
}
#edit-author--2 a {
    color: #444A56;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}
.displaycomment {
    margin-top: 60px;
}
.footer_zyxware {
    font-size: 8px;
    text-align: center;
    position: absolute;
    right: 40px;
    bottom: 1px;
    color: #bbb;
    float: right;
}
.footer_zyxware a {
    color: #ccc;
    text-decoration: none;
}
.footer_zyxware a:hover a:active {
    color: #ccc;
    text-decoration: none;
}
.filter-wrapper {
    border: none;
}
.footer_top a {
    color: #fff;
}
.region-copyright a:link,
.region-copyright a:visited {
    color: #2a5682;
}
.region-copyright a:hover a:active {
    color: #2a5682;
}
.frontarticleinner {
    min-height: 433px;
    overflow: hidden;
}
.article_titleinner h2 a {
    color: #41444A;
}
.post-tags .field-item {
    float: left;
    margin-right: 5px;
    margin-top: 15px;
    background-color: #43444A;
    background-image: -moz-linear-gradient(center top, #43444A, #43444A);
    background-repeat: repeat-x;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #CD4517;
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
}
.post-tags {
    width: 580px;
    overflow: hidden;
}
.post-tags a {
    color: white;
    text-decoration: none;
    padding: 0px 6px;
    font-size: 15px;
}
.post-tags a:hover {
    background-color: #999999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-tags .field-label {
    display: none;
}
.filter-wrapper {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-top: 0 none;
    margin: 0;
    padding: 1.5em 0;
}
form input.form-submit:hover {
    background-color: #43444A;
    opacity: 0.76;
}
#mobileMenu_mm1 {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
}
.main_nav {
    background-image: url("../images/navigation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 91px;
    color: #000000;
    margin-top: 20px;
}
.main_nav ul {
    padding-bottom: 0px;
    list-style-type: none;
    padding-right: 15px;
    padding-top: 0px;
    height: 39px;
    margin-top: 18px;
    margin-left: 9px;
}
.main_nav li {
    float: left;
    font-weight: 400;
    list-style-type: none;
    padding-right: 15px;
}
.main_nav a {
    color: #000000;
}
.main_nav li a {
    font-weight: bold;
    display: block;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-decoration: none;
    border-right: 1px solid #ffffff;
}
.main_nav li a:active,
.main_nav a.active {
    color: #ffffff;
    display: block;
}
.main_nav li a:hover {
    background-color: #325086;
}
.main_nav li a:hover,
.main_nav li a:active,
.main_nav a.active {
    color: #ffffff;
    font-weight: bold;
    background-color: #325086;
}
.main_nav li a .sf-sub-indicator {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-indent: -9999px;
}
.main_nav li li a,
.main_nav li li a:link,
.main_nav li li a:visited {
    background-color: #12263B;
    border-top-width: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-transform: none;
    width: 140px;
    border: none !important;
}
.main_nav li li a:hover,
.main_nav li li a:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #325086;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #FFFFFF;
}
.main_nav li ul {
    height: auto;
    left: -9999px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
}
.main_nav li ul a {
    width: 160px;
}
.main_nav li ul ul {
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: -40px;
}
.main_nav li:hover > ul,
.main_nav li.sfHover ul {
    left: auto;
}
.main_nav ul li.leaf,
.main_nav ul li.expanded,
.main_nav ul li.collapsed {
    list-style-image: none !important;
    list-style-position: outside;
    list-style-type: none;
}
.main_nav ul.menu li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.main_nav li.expanded,
.main_nav li.collapsed,
.main_nav li.leaf {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.main_nav li li a,
.main_nav li li a:link,
.main_nav li li a:visited {
    background-color: #2E558B;
    opacity: 0.8;
    border: none !important;
}
.main_nav li li a:hover {
    background-color: #325086 !important;
}
.main_nav li li a:hover,
.main_nav li li a:active {
    background: #2E558B;
}
.main_nav ul.menu li.last.active-trail {
    background-color: #2E558B;
    background-image: url("../images/Navigation_right.png");
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    color: #FFFFFF !important;
}
.main_nav ul.menu li.first a:hover,
.main_nav ul.menu li.last a:hover {
    //background-color: #2E558B !important;
    //opacity : 1 !important;
}
.main_nav ul.menu li.first.active-trail,
.main_nav ul.menu li.first a.active {
    background-color: #2E558B;
    background-image: url("../images/Navigation_lrft.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #FFFFFF !important;
    margin-left: 0;
    border: none !important;
}
.main_nav ul.menu ul li a:hover,
.main_nav ul.menu ul li.first a:hover {
    //background-color: #2E558B;
    opacity: 1 !important;
    background-position: left center;
    background-image: none !important;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin-left: 0;
    border: none !important;
}
.main_nav ul.menu li a:active,
.main_nav ul.menu ul li.first a.active,
.main_nav ul.menu ul li.first {
    background-color: #2E558B;
    opacity: 0.8;
    background-position: left center;
    background-image: none !important;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin-left: 0;
    border: none !important;
}
.main_nav ul.menu li.last ul.menu a.active {
    background-image: none !important;
}
.main_nav ul.menu li.first ul.menu a.active {
    background-image: none !important;
}
.main_nav ul.menu li.last ul.menu li.last a.active {
    background-image: none !important;
}
.main_nav ul.menu li.last a.active,
.main_nav ul.menu li.last a:hover {
    background-color: #2E558B;
    background-image: url("../images/Navigation_right.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: none !important;
    margin-left: 0;
}
.main_nav ul.menu ul li.last {
    background-color: #2E558B;
    opacity: 0.8;
    background-position: left center;
    background-image: none !important;
    background-repeat: no-repeat;
    border: none !important;
    margin-left: 0;
}
.main_nav ul.menu li ul.menu li a:hover {
    color: white;
}